<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Superheroes - Fetch</title>

    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <p>Ejemplo Fetch</p>
    <div id="app">
      <h1>{{ squadName }}</h1>
      <p>Home Town: {{ info.homeTown }} // Secret Base: {{ info.secretBase }} // Formed: {{ info.formed }}  </p>
  

      <section v-for="member in members">
        <article>
          <h2>{{ member.name}}</h2>
          <p>Secret Identity: {{ member.secretIdentity }} </p>
          <p>Age: {{ member.age }}</p>
          <p>Superpowers</p>
          <ul v-for="power in member.powers">
            <li>{{ power }}</li>
          </ul>
        </article>

      </section>

    </div>
  
    <script src="js.js"></script>
  </body>
</html>